<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="icon" href="/images/weather.png">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/app.js"> </script>

</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Adi C, It uses Mapbox and Weatherstack</p>
    <img class="portrait" src="/images/bonsai-pixel.png">
  </div>

  {{>footer}}
</body>

</html>
